body{
    display: flex;
    justify-items: center;
    font-family:"league spartan", sans-serif;
    margin:0px;
    background-color: #FFD79C;
}
.container{
    display:flex;
    margin: 0px auto;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    background-color: #FFD79C; 
}

header{
    padding:0px 80px;
    display: flex;
    align-items: center;
    height: 90px;
    background-color:rgba(30, 30, 30);
    max-width:100%;
    position: relative;
}
.headerdiv{
    padding:0px 80px;
    display: flex;
    align-items: center;
    height: 90px;
    background-color:rgba(30, 30, 30);
    width:100%;    
}
#logoid{
    width: 75px;
    height: 75px;
}
.liens{
    font-weight: medium;
    font-size: 28px;
    color:white;
    text-decoration: none;
}
a.liens:hover{
    color: #fcab32;
}
.accueil{
    font-weight: bold;
    font-size: 28px;
    color:white;
    text-decoration: none;
}
a.accueil:hover{
    color: #fcab32;
}
.banner{
    width: 100%;
    margin-left: 96px;
    display: flex;
    justify-content: space-between;
}
#img1{
    height:633px;
    width:976px;
    margin: 0px;
    padding:0px;
    border-radius: 10px;
}
#qr{
    width: 200px;
    height: 200px;
}
#installapp{
    color: white;
    font-size: 22px;
    padding:10px
}
a#installapp:hover{
    color: #fcab32;
}
.div1{
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    margin-top: 10px;
    width: 1440px;
}
.femmeblonde{
    height:633px;
    width:976px;
    position: relative;
}
.qrinstallapp{
    display: flex;
    flex-direction: column;
    color: white;
    position:absolute;
    left:31%;
    top: 25%;
    font-size: 22px;
    transform: rotate(-2deg);

}
.ncsb{
    display:flex;
    flex-direction: row;
}
.sponsor{
    display:flex;
    flex-direction: column;
}
.txtsponsor{
    font-size: 32px;
    background-color: rgba(30, 30, 30);
    height: 50px;
    color: white;
    margin: 0px 0px;
    text-align: center;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 10px 10px 0px 0px;
}
.div2{
    align-self:center;
    justify-self: center;
    margin:40px auto;
}
.map{
    border-radius: 15px;
}
/*input{
    color: rgba(30, 30, 30, 0.8);
    box-sizing: border-box;
    background-color: #ffffffbb;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    height:40px;
    padding:10px;
    position: relative;
    bottom: 670px;
    right: 20px;
    margin:20px;
}
.searchbutton{
    background-color: #ffffff00;
    border: none;
    position: relative;
    bottom:670px;
    right: 80px;
}*/

#vik{
    border-radius: 0px;
}
#soccerbook{
    border-radius: 0px 0px 10px 0px;
}
#nicoach{
    border-radius: 0px 0px 0px 10px;
}



footer {
    height: 120px;
    background-color:black;
    color:white;
    padding:0px 80px;
    font-family:"league spartan", sans-serif;
}
.footer-top {
    display:flex;
    align-items: center;

}
.follow {
    justify-content: flex-start;
    font-size:18px;
}
.follow-icons {
    display: flex;
    justify-content: space-between;
    width:180px;
}
.instagramlogo {
    height:32px;
    margin-left:50px;
}
.facebooklogo {
    height:32px;
}
.twitterlogo {
    height:32px;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:900px
}
p.footernav,a.footernav {
    text-decoration: none;
    color:white;
    font-size: 18px;
}
a.footernav:hover{
    color: #fcab32;
}
.div2{
    display: flex;
    flex-direction: row;
}
#pic{
    border-radius: 50%;
    width: 75px;
}