body {
    margin:0px;
}
footer {
    background-color:black;
    color:white;
    padding:30px;
    font-family:"league spartan", sans-serif;

}
.footer-top {
    display:flex;
    align-items: center;
    
}
.follow {
    justify-content: flex-start;
    font-size:18px;
}
.follow-icons {
    display: flex;
    justify-content: space-between;
    width:180px;
}
.instagramlogo {
    height:32px;
    margin-left:50px;
}
.facebooklogo {
    height:32px;
}
.twitterlogo {
    height:32px;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:900px;
    font-size: 18px;
}
.footer-nav {
    text-decoration: none;
    color:white;
}
